<main class="main-hotel">
    <form id="form" class="form" action="administracao/funcionario" method="post">
        <div class="form-control">
            <label for="nome">Nome do funcionário</label>
            <input type="text" id="nome" name="nome">
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <small>Mensagem de erro</small>
        </div>

        <div class="form-control">
            <label for="hotel">Hotel</label>
            <select name="hotel" id="hotel">
                {{#each hoteis as |hotel index|}}
                    <option value="{{hotel._id}}">
                        {{hotel.nome}}
                    </option>
                {{/each}}
            </select>
        </div>

        <div class="form-control">
            <label for="funcao">Função</label>
            <input type="text" id="funcao" name="funcao">
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <small>Mensagem de erro</small>
        </div>

        <button type="submit">Cadastrar novo Funcionário</button>
    </form>
    {{#each funcionarios as |funcionario index1|}}
    <div class="container">
        <div class="header">
            <h3>
                <form id="form-{{funcionario._id}}" class="form" action="administracao/funcionario/demitir" method="post">
                    <input type="hidden" id="cod_funcionario" name="_id" value="{{funcionario._id}}">
                    {{funcionario.nome}}<br>
                    {{#each funcionario.funcao as |f index2|}}
                        {{f}}
                        {{funcionario.data.hotel_id.nome}}
                        <button>Demitir</button>
                    {{/each}}
                </form>
            </h3>
        </div>
    </div>
    {{/each}}
</main>

<script type="text/javascript">
    function demitirFuncionario(codigo)
</script>