<main class="main-hotel">
    <section class="descricao" id="desc">
        <h2>
            {{hotel.nome}}
        </h2>
        <h4> Presente em {{hotel.cidade.nome}}
        </h4>
        <h4>
            {{hotel.endereco}} - {{hotel.telefone}}
        </h4>
        <br>
        <img src="../images/hotel_2.jpg" height="500px">
        <br>
        <a href="/reservar?cod_hotel={{hotel._id}}">Realizar reserva</a>
        </form>
    </section>
</main>